<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/styles_index.css">
  <script src="js/index.js"></script>
  <title>Document</title>
  <script src="https://kit.fontawesome.com/a0f9c20aeb.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="img/icon_gif.gif">
</head>
<body>
   <div class="barra-navegacion">
      <a href="">
          <p class="logo">IA</p>
      </a>
    </div>
    <div class="contenedor">
      <div class="slider-contenedor">
        <section class="contenido-slider">
        <div class="primera-seccion">
              <div class="primera-seccion-contenido">
                  <p></p>
                  <div class="titulo-content">
                    <div class="titulo">
                      <input type="text" size="15" maxlength="30">
                      
                    </div>

                  </div>
              </div>
              <div class="botones">
                <input type="submit" value="Enviar">
                <input type="file" />
              </div>
          </div>
        </section>
      </div>
        
    </div>
</body>
</html>