<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/styles_index.css">
  
  <title>Document</title>
  <script src="https://kit.fontawesome.com/a0f9c20aeb.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="img/icon_gif.gif">
</head>
<body>
   <div class="barra-navegacion">
      <a href="">
          <p class="logo">Inteligencia Artificial</p>
      </a>
    </div>
    <div class="contenedor">
      <div class="slider-contenedor">
        <section class="contenido-slider">
        <div class="primera-seccion">
              <div class="primera-seccion-contenido">
                  <p></p>
                  <div class="head-boxes">
                    <button type="button" id="btn-escuchar" class="btn btn-outline-warning">Escuchar</button>
                  </div>
                  <div class="input-group mb-3">
                    <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Cargar</button> -->
                    <input type="file" class="form-control" id="btn-subir-text" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                  </div>  
                  <div class="titulo-content">
                    <div class="titulo">
                     <div class="md-form md-outline">
                        <textarea id="form76" class="md-textarea form-control" cols="40" rows="6"></textarea>
                        <label for="form76">Inserte texto</label>
                      </div>
                    </div>
                    <div class="titulodos">
                      <div class="md-form md-outline">
                        <textarea id="text-area-salida" class="md-textarea form-control" cols="40" rows="6"></textarea>
                        <label for="form76">Salida</label>
                        <br>
                        <div>
                          <label id="data-release1" style="display=none"></label>
                          <label id="data-release2" style="display=none"></label>
                          <label id="data-release3" style="display=none"></label>                          
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="botones-main">
                  <button type="button" id="btn-enviar-texto" class="btn btn-outline-success">Enviar</button>
              </div>
          </div>
        </section>
      </div>
        
    </div>
    <script src="js/index.js"></script>
</body>
</html>